<div class="footer-container footer-concise">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer-content">
            <ul class="footer-nav">
              <li><a href="/about-us" target="_self" title="About Us">About Us</a></li>
              <li><a href="/contact-us" target="_self" title="Contact Us">Contact Us</a></li>
              <li><a href="https://www.deyorcamps.com/blog/" target="_self" title="Blog">Blog</a></li>
              <li><a href="/terms-and-conditions" target="_self" title="Cancellation Policy">Cancellation Policy</a>
              </li>
              <li><a href="/privacy-policy" target="_self" title="Privacy Policy">Privacy Policy</a></li>
              <li><a href="#" target="_self" title="Sitemap">Sitemap</a></li>
            </ul>
            <ul class="footer-nav">
              <li><a href="/collections/ladakh-bike-trips-2019" target="_self" title="Ladakh">Ladakh</a></li>
              <li><a href="/bhutan" target="_self" title="Bhutan">Bhutan</a></li>
              <li><a href="/collections/spiti-valley-moto-tour-2018" target="_self" title="Spiti Valley">Spiti
                  Valley</a></li>
              <li><a href="/collections/weekend-trips" target="_self" title="Weekend Trips">Weekend Trips</a></li>
              <li><a href="/collections/bali-tours" target="_self" title="Bali">Bali</a></li>
            </ul>

          </div>
          <ul class="social-networks">
            <li>
              <a href="http://facebook.com/deyorcamps" class="skip-url-slug-check" rel="nofollow" target="_blank"
                title="facebook-social-media">
                <div class="icon">
                  <div class="svg svg-facebook">

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                      viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                      <path fill="#FFFFFF" d="M256,7.098C118.535,7.098,7.098,118.535,7.098,256S118.535,504.902,256,504.902
    c1.78,0,3.554-0.03,5.326-0.067V340.734h-55.124V271.83h55.124v-41.343c0-56.764,32.041-96.467,82.687-96.467
    c24.255,0,41.343,0,55.124,0v68.905h-27.562c-27.535,0-41.343,13.781-41.343,41.343v27.562h68.905l-13.781,68.904h-55.124v152.908
    C431.44,462.061,504.902,367.611,504.902,256C504.902,118.535,393.465,7.098,256,7.098z"></path>
                    </svg>

                  </div>
                </div>
              </a> </li>
            <li>
              <a href="https://twitter.com/DeyorCamps" class="skip-url-slug-check" rel="nofollow" target="_blank"
                title="twitter-social-media">
                <div class="icon">
                  <div class="svg svg-twitter">
                    <svg version="1.1" id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                      xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"
                      xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px"
                      viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                      <g id="layer1" transform="translate(0,-552.36218)">
                        <path fill="#FFFFFF" d="M250,552.362c-69.04,0-131.54,27.98-176.78,73.22C27.98,670.822,0,733.322,0,802.362
      s27.98,131.54,73.22,176.78c45.24,45.239,107.74,73.22,176.78,73.22s131.54-27.98,176.78-73.22
      c45.239-45.24,73.22-107.74,73.22-176.78C500,664.292,388.071,552.362,250,552.362z M377.25,737.032c0.12,2.82,0.17,5.68,0.17,8.53
      c0,86.76-66.03,186.8-186.8,186.8c-37.07,0-71.56-10.86-100.62-29.5c5.14,0.61,10.38,0.9,15.67,0.9
      c30.77,0,59.04-10.49,81.5-28.101c-28.72-0.53-52.93-19.52-61.29-45.6c4,0.77,8.11,1.18,12.34,1.18c5.99,0,11.8-0.81,17.3-2.3
      c-30.03-6.05-52.67-32.55-52.67-64.35c0-0.28-0.01-0.58,0-0.85c8.85,4.91,18.99,7.88,29.75,8.22
      c-17.62-11.77-29.22-31.85-29.22-54.62c0-12.05,3.24-23.34,8.89-33.03c32.39,39.72,80.76,65.86,135.33,68.6
      c-1.12-4.81-1.68-9.84-1.68-14.97c0-35.7,28.46-64.73,63.93-65.63c0.561-0.01,1.131,0,1.7,0c18.88,0,35.95,7.97,47.92,20.72
      c14.96-2.94,29.021-8.42,41.7-15.94c-4.9,15.34-15.31,28.2-28.87,36.32c13.28-1.58,25.94-5.12,37.7-10.35
      C401.2,716.232,390.071,727.802,377.25,737.032z"></path>
                        <g id="layer1-9" transform="translate(-549.00515,80.294372)">
                        </g>
                        <g id="layer1-6" transform="translate(-575.71429,39.999999)">
                        </g>
                        <g id="layer1-93" transform="matrix(0.99928945,0,0,0.99928945,474.7002,-40.81928)">
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </a> </li>
            <li>
              <a href="https://deyorcampsblog.wordpress.com" class="skip-url-slug-check" rel="nofollow" target="_blank"
                title="blog-social-media">
                <div class="icon">
                  <div class="svg svg-blog">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px"
                      viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                      <path fill="#FFFFFF" d="M16,0C7.16,0,0,7.17,0,16c0,8.84,7.16,16,16,16c8.83,0,16-7.16,16-16C32,7.17,24.83,0,16,0z M12,22
    c-1.11,0-2-0.89-2-2s0.9-2,2-2c1.11,0,2,0.89,2,2S13.11,22,12,22z M17.6,22c-0.779,0-1.41-0.63-1.41-1.4c0-2.64-2.15-4.78-4.78-4.78
    c-0.78,0-1.41-0.63-1.41-1.41c0-0.78,0.63-1.41,1.41-1.41C15.6,13,19,16.41,19,20.6C19,21.37,18.37,22,17.6,22z M22.56,22
    c-0.79,0-1.439-0.64-1.439-1.44c0-5.339-4.34-9.68-9.68-9.68c-0.8,0-1.44-0.65-1.44-1.44S10.64,8,11.44,8C18.36,8,24,13.64,24,20.56
    C24,21.36,23.36,22,22.56,22z"></path>
                    </svg>
                  </div>
                </div>
              </a> </li>
            <li>
              <a href="https://www.youtube.com/channel/UCjHE4BTc-qOG-gk5LfClEVA" class="skip-url-slug-check"
                rel="nofollow" target="_blank" title="youtube-social-media">
                <div class="icon">
                  <div class="svg svg-youtube">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                      viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                      <g>
                        <polygon fill="#FFFFFF" points="217.949,313.148 313.196,256 217.949,198.851   "></polygon>
                        <path fill="#FFFFFF" d="M256,7.098C118.535,7.098,7.098,118.535,7.098,256S118.535,504.902,256,504.902
      S504.902,393.465,504.902,256S393.465,7.098,256,7.098z M408.349,268.287c0,26.307-3.048,52.605-3.048,52.605
      s-2.981,22.401-12.106,32.25c-11.592,12.936-24.574,13.012-30.526,13.773C320.026,370.184,256,370.297,256,370.297
      s-79.228-0.771-103.602-3.268c-6.781-1.353-21.993-0.961-33.594-13.896c-9.134-9.849-12.105-32.251-12.105-32.251
      s-3.049-26.289-3.049-52.604v-24.65c0-26.298,3.049-52.596,3.049-52.596s2.98-22.412,12.105-32.279
      c11.601-12.935,24.574-13.011,30.527-13.744c42.633-3.305,106.592-3.305,106.592-3.305h0.143c0,0,63.959,0,106.602,3.305
      c5.952,0.733,18.935,0.81,30.526,13.744c9.134,9.868,12.106,32.279,12.106,32.279s3.048,26.298,3.048,52.604V268.287
      L408.349,268.287z"></path>
                      </g>
                    </svg>

                  </div>
                </div>
              </a> </li>
          </ul>
          <!-- <ul class="social-networks">
            <li><a href="#"><span class="icon-holder"><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span class="icon-holder"><i class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span class="icon-holder"><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span class="icon-holder"><i class="fa fa-twitter"></i></span></a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright">
        <span>Online booking system by <a rel="nofollow" href="#" class="skip-url-slug-check"
            target="_blank" title="VacationLabs - Online booking engine for tours and travels">ET Labs</a><br
            class="visible-xs"> © 2019 <span>All right reserved </span></span>
      </div>
    </div>
  </div>
</div>