    <header>
     <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">
        <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
<div class="navbar-nav mr-auto "></div>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--<ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#">
               <i class="fa fa-home"></i>
               Home
               <span class="sr-only">(current)</span>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">
               <i class="fa fa-envelope-o">
                 <span class="badge badge-danger">11</span>
               </i>
               Link
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link disabled" href="#">
               <i class="fa fa-envelope-o">
                 <span class="badge badge-warning">11</span>
               </i>
               Disabled
             </a>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-envelope-o">
                 <span class="badge badge-primary">11</span>
               </i>
               Dropdown
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Action</a>
               <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Something else here</a>
             </div>
           </li>
         </ul>-->
         
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="#">
               <i class="fa fa-home"></i>
                 Home
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">
              
               <i class="fa fa-calendar">
                <span class="badge badge-success">11</span>
                </i>
               Upcoming Events
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">

               <i class="fa fa-calendar">
                 <span class="badge badge-success">11</span>
               </i>
               Past Events
             </a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-globe">
                  <span class="badge badge-success">11</span>
                </i>
                Destinations
              </a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="#">
                 <i class="fa fa-globe">
                   <span class="badge badge-success">11</span>
                 </i>
                 Experience
               </a>
             </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-globe">
                     <span class="badge badge-success">11</span>
                  </i>
                 Contact Us
                </a>
              </li>
              <li>
                <form class="form-inline my-2 my-lg-0">

                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Online</button>
                </form>
              </li>
         </ul>

         
       </div>
     </nav>
    </header>
<section>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="http://clipart-library.com/images/pi5rE4pdT.jpg"
        alt="Los Angeles" width="100%" height="500">
      <div class="carousel-caption d-none d-md-block">
      <div class="collection-slide">
        <div class="pre-heading">
          <p>Hottest Collection</p>
        </div>

        <div class="title">
          <h1>Scintillating Ladakh Experiences</h1>
        </div>

        <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

        <div class="collection-info">
          <ul>
            <li>TOURS</li>
            <li>4</li>
          </ul>
          <ul>
            <li>STARTING FROM</li>
            <li> ₹ 24,000 </li>
          </ul>
        </div>

        <div class="call-to-action">
          <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
            title="View Collection">View Collection</a>
        </div>
       </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="http://www.pptbackgrounds.org/uploads/brown-travel-template-powerpoint-backgrounds.jpg"
        alt="Chicago" width="100%" height="500">
       <div class="carousel-caption d-none d-md-block">
         <div class="collection-slide">
           <div class="pre-heading">
             <p>Featured Collection</p>
           </div>

           <div class="title">
             <h1>A Himalayan Saga | Spity Valley & More</h1>
           </div>

           <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

           <div class="collection-info">
             <ul>
               <li>TOURS</li>
               <li>4</li>
             </ul>
             <ul>
               <li>STARTING FROM</li>
               <li> ₹ 24,000 </li>
             </ul>
           </div>

           <div class="call-to-action">
             <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
               title="View Collection">View Collection</a>
           </div>
         </div>
       </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://backgrounddownload.com/wp-content/uploads/2018/09/background-metal-preto.jpg"
        alt="New York" width="100%" height="500">
       <div class="carousel-caption d-none d-md-block">
         <div class="collection-slide">
           <div class="pre-heading">
             <p>Hottest Collection</p>
           </div>

           <div class="title">
             <h1>Scintillating Ladakh Experiences</h1>
           </div>

           <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

           <div class="collection-info">
             <ul>
               <li>TOURS</li>
               <li>4</li>
             </ul>
             <ul>
               <li>STARTING FROM</li>
               <li> ₹ 24,000 </li>
             </ul>
           </div>

           <div class="call-to-action">
             <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
               title="View Collection">View Collection</a>
           </div>
         </div>
       </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</section>

