<section>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active"
        style="background-image: url(http://clipart-library.com/images/pi5rE4pdT.jpg)  ">
        
        <div class="carousel-caption d-none d-md-block">
          <div class="collection-slide">
            <div class="pre-heading">
              <p>Hottest Collection</p>
            </div>

            <div class="title">
              <h1>Scintillating Ladakh Experiences</h1>
            </div>

            <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

            <div class="collection-info">
              <ul>
                <li>TOURS</li>
                <li>4</li>
              </ul>
              <ul>
                <li>STARTING FROM</li>
                <li> ₹ 24,000 </li>
              </ul>
            </div>

            <div class="call-to-action">
              <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
                title="View Collection">View Collection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url(http://www.pptbackgrounds.org/uploads/brown-travel-template-powerpoint-backgrounds.jpg)  ">
         <div class="carousel-caption d-none d-md-block">
          <div class="collection-slide">
            <div class="pre-heading">
              <p>Featured Collection</p>
            </div>

            <div class="title">
              <h1>A Himalayan Saga | Spity Valley & More</h1>
            </div>

            <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

            <div class="collection-info">
              <ul>
                <li>TOURS</li>
                <li>4</li>
              </ul>
              <ul>
                <li>STARTING FROM</li>
                <li> ₹ 24,000 </li>
              </ul>
            </div>

            <div class="call-to-action">
              <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
                title="View Collection">View Collection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url(http://s3.amazonaws.com/yvan-rodic-production/images/42055/list/IMG_723020161218-7-w1x6ga.jpg?1482031060)  ">
       <!-- <img
            src="http://s3.amazonaws.com/yvan-rodic-production/images/42055/list/IMG_723020161218-7-w1x6ga.jpg?1482031060"
            alt="New York"
            width="100%" height="500">-->
        <div class="carousel-caption d-none d-md-block">
          <div class="collection-slide">
            <div class="pre-heading">
              <p>Hottest Collection</p>
            </div>

            <div class="title">
              <h1>Scintillating Ladakh Experiences</h1>
            </div>

            <div class="hero-tagline tagline">India's Best Bike Trips To Ladakh Are Back!</div>

            <div class="collection-info">
              <ul>
                <li>TOURS</li>
                <li>4</li>
              </ul>
              <ul>
                <li>STARTING FROM</li>
                <li> ₹ 24,000 </li>
              </ul>
            </div>

            <div class="call-to-action">
              <a href="/collections/ladakh-bike-trips-2019" class="btn-fill-rounded btn-primary-lg" target="_self"
                title="View Collection">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>