<section class="search-sec">
  <div class="container">
    <form action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Choose State">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="User Preference">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option>Select Trips</option>
                <option>Trip 1</option>
                <option>Trip 2</option>
                <option>Trip 3</option>
                <option>Trip 4</option>
                <option>Trip 5</option>
                <option>Trip 6</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <button type="button" class="btn btn-danger wrn-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
