<app-header></app-header>
<div class="container">
  <ng-content></ng-content>
 
 <div class="row mt-3 mb-3">
   <div class="col">
     <div class="card" style="width: 21rem;       margin-bottom: 10px;">
      <img class="card-img-top"
        src="https://img.traveltriangle.com/attachments/pictures/891489/original/Couple-in-loungers-on-a-tropical-beach-at-Maldives.jpg"
        alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Maldives (5D & 4N)</h5>
         <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
         <p class="sfc3 m0 f24 fw7">₹49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹53,846</span></p>
         <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
           <li class="f12">Maldives</li>
         </ul>
         <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
           <li class="iblock "><span class="hotel"></span>
             <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
           </li>
           <li class="iblock showOpacity"><span class="flights"></span>
             <p class="inclusion-tag f10 text-center">Flights</p>
           </li>
           <li class="iblock "><span class="meals"></span>
             <p class="inclusion-tag f10 text-center">Meals</p>
           </li>
           <li class="iblock "><span class="sightseeing"></span>
             <p class="inclusion-tag f10 text-center">Sightseeing</p>
           </li>
           <li class="iblock "><span class="hotel"></span>
             <p class="inclusion-tag f10 text-center">Stay Included</p>
           </li>
           <li class="iblock "><span class="transfer"></span>
             <p class="inclusion-tag f10 text-center">Transfers</p>
           </li>
         </ul>
         
         <a href="#" class="card-link">View Detail</a>
       </div>
     </div>
   </div>
    <div class="col">
      <div class="card" style="width: 21rem;       margin-bottom: 10px;">
        <img class="card-img-top"
          src="https://img.traveltriangle.com/attachments/pictures/847359/original/Maldives_sea___boat_CI.jpg"
          alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Maldives (4D & 3N)</h5>
           <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
           <p class="sfc3 m0 f24 fw7">₹79,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹63,846</span></p>
           <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
             <li class="f12">Maldives</li>
           </ul>
           <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
             <li class="iblock "><span class="hotel"></span>
               <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
             </li>
             <li class="iblock showOpacity"><span class="flights"></span>
               <p class="inclusion-tag f10 text-center">Flights</p>
             </li>
             <li class="iblock "><span class="meals"></span>
               <p class="inclusion-tag f10 text-center">Meals</p>
             </li>
             <li class="iblock "><span class="sightseeing"></span>
               <p class="inclusion-tag f10 text-center">Sightseeing</p>
             </li>
             <li class="iblock "><span class="hotel"></span>
               <p class="inclusion-tag f10 text-center">Stay Included</p>
             </li>
             <li class="iblock "><span class="transfer"></span>
               <p class="inclusion-tag f10 text-center">Transfers</p>
             </li>
           </ul>
          
           <a href="#" class="card-link">View Detail</a>
         </div>
      </div>
    </div>
     <div class="col">
       <div class="card" style="width: 21rem;       margin-bottom: 10px;">
        <img class="card-img-top"
          src="https://img.traveltriangle.com/attachments/pictures/854605/original/Nainital_landscape_2.jpg"
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Nainital (7D & 6N)</h5>
            <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
            <p class="sfc3 m0 f24 fw7">₹1,49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹73,846</span></p>
            <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
              <li class="f12">Nainital</li>
            </ul>
            <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
              <li class="iblock "><span class="hotel"></span>
                <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
              </li>
              <li class="iblock showOpacity"><span class="flights"></span>
                <p class="inclusion-tag f10 text-center">Flights</p>
              </li>
              <li class="iblock "><span class="meals"></span>
                <p class="inclusion-tag f10 text-center">Meals</p>
              </li>
              <li class="iblock "><span class="sightseeing"></span>
                <p class="inclusion-tag f10 text-center">Sightseeing</p>
              </li>
              <li class="iblock "><span class="hotel"></span>
                <p class="inclusion-tag f10 text-center">Stay Included</p>
              </li>
              <li class="iblock "><span class="transfer"></span>
                <p class="inclusion-tag f10 text-center">Transfers</p>
              </li>
            </ul>
           
            <a href="#" class="card-link">View Detail</a>
          </div>
       </div>
     </div>
      <div class="col">
        <div class="card" style="width: 21rem;      margin-bottom: 10px;">
          <img class="card-img-top"
            src="https://res.cloudinary.com/dxqin8fbx/image/fetch/f_auto,q_auto:eco,w_300/https://dzh0sbrwpq3wf.cloudfront.net/attachments/pictures/891489/original/Couple-in-loungers-on-a-tropical-beach-at-Maldives.jpg"
            alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Maldives (5D & 4N)</h5>
             <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
             <p class="sfc3 m0 f24 fw7">₹49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹53,846</span></p>
             <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
               <li class="f12">Maldives</li>
             </ul>
             <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
               <li class="iblock "><span class="hotel"></span>
                 <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
               </li>
               <li class="iblock showOpacity"><span class="flights"></span>
                 <p class="inclusion-tag f10 text-center">Flights</p>
               </li>
               <li class="iblock "><span class="meals"></span>
                 <p class="inclusion-tag f10 text-center">Meals</p>
               </li>
               <li class="iblock "><span class="sightseeing"></span>
                 <p class="inclusion-tag f10 text-center">Sightseeing</p>
               </li>
               <li class="iblock "><span class="hotel"></span>
                 <p class="inclusion-tag f10 text-center">Stay Included</p>
               </li>
               <li class="iblock "><span class="transfer"></span>
                 <p class="inclusion-tag f10 text-center">Transfers</p>
               </li>
             </ul>
             
             <a href="#" class="card-link">View Detail</a>
           </div>
        </div>
      </div>
       <div class="col">
         <div class="card" style="width: 21rem;       margin-bottom: 10px;">
           <img class="card-img-top"
             src="https://res.cloudinary.com/dxqin8fbx/image/fetch/f_auto,q_auto:eco,w_300/https://dzh0sbrwpq3wf.cloudfront.net/attachments/pictures/891489/original/Couple-in-loungers-on-a-tropical-beach-at-Maldives.jpg"
             alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maldives (5D & 4N)</h5>
              <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
              <p class="sfc3 m0 f24 fw7">₹49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹53,846</span></p>
              <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
                <li class="f12">Maldives</li>
              </ul>
              <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
                <li class="iblock "><span class="hotel"></span>
                  <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
                </li>
                <li class="iblock showOpacity"><span class="flights"></span>
                  <p class="inclusion-tag f10 text-center">Flights</p>
                </li>
                <li class="iblock "><span class="meals"></span>
                  <p class="inclusion-tag f10 text-center">Meals</p>
                </li>
                <li class="iblock "><span class="sightseeing"></span>
                  <p class="inclusion-tag f10 text-center">Sightseeing</p>
                </li>
                <li class="iblock "><span class="hotel"></span>
                  <p class="inclusion-tag f10 text-center">Stay Included</p>
                </li>
                <li class="iblock "><span class="transfer"></span>
                  <p class="inclusion-tag f10 text-center">Transfers</p>
                </li>
              </ul>
              
              <a href="#" class="card-link">View Detail</a>
            </div>
         </div>
       </div>
        <div class="col">
          <div class="card" style="width:21rem;       margin-bottom: 10px;">
            <img class="card-img-top"
              src="https://res.cloudinary.com/dxqin8fbx/image/fetch/f_auto,q_auto:eco,w_300/https://dzh0sbrwpq3wf.cloudfront.net/attachments/pictures/891489/original/Couple-in-loungers-on-a-tropical-beach-at-Maldives.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maldives (5D & 4N)</h5>
              <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
              <p class="sfc3 m0 f24 fw7">₹49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹53,846</span></p>
              <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
                <li class="f12">Maldives</li>
              </ul>
              <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
                <li class="iblock "><span class="hotel"></span>
                  <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
                </li>
                <li class="iblock showOpacity"><span class="flights"></span>
                  <p class="inclusion-tag f10 text-center">Flights</p>
                </li>
                <li class="iblock "><span class="meals"></span>
                  <p class="inclusion-tag f10 text-center">Meals</p>
                </li>
                <li class="iblock "><span class="sightseeing"></span>
                  <p class="inclusion-tag f10 text-center">Sightseeing</p>
                </li>
                <li class="iblock "><span class="hotel"></span>
                  <p class="inclusion-tag f10 text-center">Stay Included</p>
                </li>
                <li class="iblock "><span class="transfer"></span>
                  <p class="inclusion-tag f10 text-center">Transfers</p>
                </li>
              </ul>
             
              <a href="#" class="card-link">View Detail</a>
            </div>
          </div>
        </div>
         <div class="col">
           <div class="card" style="width: 21rem;    margin-right: 20px;    margin-bottom: 10px;">
             <img class="card-img-top"
               src="https://res.cloudinary.com/dxqin8fbx/image/fetch/f_auto,q_auto:eco,w_300/https://dzh0sbrwpq3wf.cloudfront.net/attachments/pictures/891489/original/Couple-in-loungers-on-a-tropical-beach-at-Maldives.jpg"
               alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Maldives (5D & 4N)</h5>
                <h6 class="card-subtitle mb-2 text-muted">Starting from</h6>
                <p class="sfc3 m0 f24 fw7">₹49,000/-<span class="f12 pfc3 fw4 m0 tdl ml8">₹53,846</span></p>
                <ul class="clearfix package-cities-list at_packagecity_list mt5 mb8">
                  <li class="f12">Maldives</li>
                </ul>
                <ul class="inclusion_list col-md-12 p0 mb4 mt4 overflowh h40 ">
                  <li class="iblock "><span class="hotel"></span>
                    <p class="inclusion-tag f10 text-center">Upto 5 Stars</p>
                  </li>
                  <li class="iblock showOpacity"><span class="flights"></span>
                    <p class="inclusion-tag f10 text-center">Flights</p>
                  </li>
                  <li class="iblock "><span class="meals"></span>
                    <p class="inclusion-tag f10 text-center">Meals</p>
                  </li>
                  <li class="iblock "><span class="sightseeing"></span>
                    <p class="inclusion-tag f10 text-center">Sightseeing</p>
                  </li>
                  <li class="iblock "><span class="hotel"></span>
                    <p class="inclusion-tag f10 text-center">Stay Included</p>
                  </li>
                  <li class="iblock "><span class="transfer"></span>
                    <p class="inclusion-tag f10 text-center">Transfers</p>
                  </li>
                </ul>
               
                <a href="#" class="card-link">View Detail</a>
              </div>
           </div>
         </div>
 </div>
</div>
<app-footer></app-footer>
